.fetal-button {
  font-size: 1.2em;
  color: #fff;
  padding: 7px 14px;
}

.fetal-button:hover {
  color: #fff;
  text-decoration: none;
}

.btn-pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.update-button {
  background-color: #51A39D;
}

.update-button:hover {
  background-color: #5ac7bf;
}

.delete-button {
  background-color: #C22326;
}

.delete-button:hover {
  background-color: #fd3236;
}

.submit-button {
  border: 0px;
  background-color: #ff404b;
}

.submit-button:hover {
  background-color: #ff9eb1;
}

.add-button {
  background-color: #007fff;
}

.add-button:hover {
  background-color: #7ec0ee;
}

.cancel-button {
  background-color: #c70461;
}

.cancel-button:hover {
  background-color: #ff72b5;
}

.create-button {
  background-color: #23b26d;
}

.create-button:hover {
  background-color: #1ed87e;
}


