.author-name {
  font-weight: 900;
  font-size: 1.1em;
}

.comment-posted {
  padding-left: 10PX;
  color: #777;
}

.comment-top {
  padding-bottom: 10px;
}

.comment-bottom {
  padding-bottom: 10px;
}