body {
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif !important;
}

body.modal-open { 
  position: fixed;
}

p {
  font-size: 1.2em !important;
  color: #333 !important;
}

h1 {
  position: relative !important;
}

h2 {
  margin-bottom: 20px !important;
  position: relative !important;
}

/* overall layout */
.no-col-padding {
  padding: 0px !important;
}

.body-wrapper {
  padding-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

.percent-padding {
  padding: 0% 10%;
}

.caption-text {
  padding: 15px 0px;
  font-weight: bold;
}

/* navbar */
.navbar {
  border-radius: 0px !important;
  height: 80px !important;
  font-family: 'Roboto Slab', serif !important;
}

.navbar-primary {
  background-color: #007bed;
}

.navbar-primary .navbar-brand {
  color: #fff !important;
  font-size: 1.8em !important; 
  padding: 20px 15px !important;
}

.navbar-primary .navbar-brand:hover {
  background-color: #014c8c !important;
  height: 79px;
}

.navbar-primary ul > li > a {
  color: #fff; 
  font-size: 1.2em;
}

.navbar-nav > li > a {
  padding-top: 30px !important;
  padding-bottom: 29px !important;
}

.navbar-brand {
  font-size: 20px !important;
}

.img-brand {
  height: 40px;
  width: auto;
  border: 2px solid #fff;
}

.fixed-top {
  position: fixed !important;
  width: 100%;
  z-index: 5;
}

.drop-shadow {
  box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}

.nav-menu-item a:hover {
  background-color: #014c8c !important;
}

.nav-menu-item a:focus {
  background-color: #014c8c !important;
}

.dropdown-toggle:focus {
  background-color: #014c8c !important;
}

.dropdown a:hover {
  color: #fff !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #014c8c !important;
}

.dropdown-primary {
  background-color: #007bed !important;
}

#welcomeSum {
  padding-bottom: 20px;
}

/* Image Styles */
#steveMap {
  width: 100%;
  height: auto;
  max-width: 516px;
}

.rand-pictures {
  background-color: #191919;
  padding-bottom: 63px;
  color: white;
}

.circle-pics {
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 300px;
  cursor: pointer;
}

.circle-pics:hover {
  transition: .5s;
  border: 10px solid #e7e7e7;
}

@media screen and (min-width: 991px) {
  .format-paragraph {
    max-width: 600px;
  }

  #welcomeSum {
    padding-top: 60px;
  }
}