.posts-container {
  max-width: 860px;
  margin: auto;
}

.posts-paragraph {
  line-height: 150%;
  font-size: 1.3em !important;
}

.post-edit-buttons {
  margin-top: 20px;  
}

.posts-date {
  color: #8f958f;
}
