.posts-container {
  width: 860px;
  margin: auto;
}

.posts-paragraph {
  line-height: 150%;
  font-size: 1.3em !important;
}

.post-edit-buttons {
  margin-top: 20px;  
}

.fetal-button {
  font-size: 1.2em;
  color: #fff;
  padding: 7px 14px;
}

.btn-pill {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.update-button {
  background-color: #51A39D;
}

.update-button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #5ac7bf;
}

.delete-button {
  
}



.posts-date {
  color: #8f958f;
}

