.table {
  font-size: 1.2em;
  width: 100%;
  min-width: 400px;
}

.image-wrap-left {
  float: left;
  margin-right: 10px;
}

.image-wrap-right {
  float: right;
  margin-left: 10px;
}

#steveProfile {
  width: 100%;
  height: auto;
  max-width: 375px;
}
