.back-icon {
  position: absolute !important;
  transform: rotate(180deg);
  left: 0px !important;
  top: 10px !important;
  color: #428bca;
  font-size: 0.9em;
}

.tour-link {
  text-decoration: none !important;
}

.tour-item {
  padding: 10px 0px;
  height: 350px;
  margin: auto;
}

.tour-item:hover {
  background-color: #e3eff1;
  text-decoration: none !important;
}

.tour-info {
  font-size: 1.2em;
  background-color: #e7e7e7;
  padding: 10px;
}

.tour-table {
  max-width: 860px !important;
  margin: auto;
}

.tour-thumbnail-table th, .tour-thumbnail-table td {
  padding: 5px !important;
}

.tour-label {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.editor-toolbar {
  padding: 15px;
  font-family: arial, sans-serif;
  position: fixed;
  bottom: 0;
  background-color: white;
  border: 2px solid #e7e7e7;
  z-index: 3;
  width: 100%;
}